*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}


body {
  background: #dddd url(../images/background.jpg) no-repeat;
  background-size: cover;
  padding: 0 10px;
}


.container{
  min-height: 100vh;
  position: relative;
}

.search-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgb(77, 87, 93);
  width: 70px;
  height: 70px;
  border-radius: 10px;
  overflow: hidden;
  transition: width 0.25s linear;


  &.show{
    width: 450px;
  }
}


.search-input{
  width: 100%;
  height: 100%;
  background-color: transparent;
  outline: none;
  color: white;
  font-size: 40px;
  padding: 10px 90px 10px 10px;
}

.search-btn{
  position: absolute;
  top:0;
  right: 0;
  width: 70px;
  height: 100%;
  font-size: 30px;
  cursor: pointer;
  outline: none;
  background-image: linear-gradient(
    64.3deg,
    rgba(254, 122, 152, 0.81) 17.7%,
    rgba(255, 206, 134, 1) 64.7%,
    rgba(172, 253, 163, 0.64) 112.1%
  );
  
  &:hover{
    opacity: 0.9;
    i{
      color: white;
    }
  }

  i{
    transition:  all ease-in 0.2s;
    color: rgb(111, 106, 106);
  }
}